@media screen and (max-width:414px) {

  

  header {
    background-color:#90EE90;
    height:100px;
  }
  
  .contaier {
    width:380px;
  }
  

  .header-left h1 {
    float:left;
    margin-left:20px;
    margin-top:25px;
    font-family: monospace;
    font-size: 40px;
    position:relative;
  }
  
   
  
  body {
    height: 5400px;
    width: 380px;
    background-color:#222222		;
    border:double 10px #90EE90;
  }

  footer { 
    height:200px;
  }

  

  .main-container h1{
    float: none;
    font-size:40px;
    padding-left:10px;
    color:white;
    
  }

  .left-container img {
    
    width: 220px;
    height: 180px;
    position: absolute;
    left:-28px;    
  }

  .right-container img {
    width: 280px;
    height: 50px;
    position: absolute;
    top:430px;
    left:120px;
  }

  .right-container p{
    position: absolute;
    top:440px;
    left: 128px;
    font-size:10px;
    font-family: monospace;
  }

  .game{
    
    font-family: monospace;
    position: absolute;
    top:560px;
    left: 70px;
    font-size: 22px;
    color: white;
    padding-right:30px;
    padding-left:10px;
    background-color: gray;
    width: 250px;
    height: 220px;
    border:solid 10px white;
   


  }

  .game a:hover{
    color: green;
    transition: all 0.3s;
  }

  .game p {

    padding-left: 100px;
    
    

  }

  .game a {

    line-height: 26px;
    color: white;
    display: block;
    padding-left: 10px;
    text-decoration: none;

  }

  .explain {
    color:white;
    position: absolute;
    top:1000px;
    line-height: 40px;
    font-family: monospace;
  }



  .explain h1 {
    font-size: 40px;
    position: absolute;
    top:-120px
  }

  

  .explain p{

    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;

  }

  .explain img{

    width: 220px;
    height: 180px;
    position: absolute;
    left:-47px;  

  }

  .message img{
    width: 270px;
    height: 50px;
    position: absolute;
    top:650px;
    left:110px;
  }

  .message p {
    position:absolute;
    color:black;
    top:720px;
    left: 130px;
    font-size: 12px;
  }

  .message h1 {
    padding-top:1000px;
    padding-left: 130px;
    text-align: center;
    font-size: 40px;
  }


  .Omikuji {
    position:absolute;
    top:2050px;
    font-family: monospace;
    
  }

  

  .Omikuji p {
    font-size:30px;
    padding-left:10px;
    padding-top:250px;
    color: white;
    width: 380px;

  }

  .Omikuji img{
    position: absolute;
    top:90px;
    left: 20px;
    height: 200px;
    border: solid 10px green;
    width: 170px;
  }


  #click {
    padding-top:25px;
    font-size: 20px;
    width: 370px;
    padding-left: 35px;
    visibility:hidden

  }

  #nohidden {
    position: absolute;
    top:-320px;
    font-size: 20px;
    width: 370px;
    padding-left: 40px;
  }

  .Janken{
    position:absolute;
    top:600px;
  }
  
  .JumpGame {
    position: absolute;
    top:1230px;
  }

  .JumpGame img {
    width: 220px;
    height:200px;
  }

  .Osero {
    position: absolute;
    top:1900px;
  }

 #alert {
   padding-top:40px;
 }

  .Omikuji img:hover{
    box-shadow:  0 10px 10px #666666;
    transition: all 0.3s;
  }

  .END p {
    position: absolute;
    top:4900px;
    left: 20px;
    font-size: 25px;
    color: white;
    font-family: monospace;
  }

  .left-END img {
    width: 220px;
    height: 180px;
    position: absolute;
    left:-27px;  
    top:5100px;
    
  }

  .right-END img {
    width: 160px;
    height: 50px;
    position: absolute;
    top:5220px;
    left:130px;
  }

  #last {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 5215px;
    left: 150px;
    font-family: monospace;
  }

}
